.win-modal {
	border: none;
	padding: 0;

	background-color: transparent;
}

.win-modal--opening,
.win-modal--closing {
	overflow: visible;
	pointer-events: none;
}

.win-modal::backdrop {
	background-color: rgba(0, 0, 0, 0.3);
}

.win-modal__wrapper {
	padding: 40px 55px 50px 55px;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;

	border-image-source: url("../img/modal-bg.png");
	border-image-slice: 97 111 125 111 fill;
	border-image-width: 36px 41px 46px 41px;
	border-image-repeat: stretch;
}

.win-modal--opening .win-modal__wrapper {
	animation: win-modal-appear 900ms cubic-bezier(0.22, 0.9, 0.24, 1) both;
}

@keyframes win-modal-appear {
	0% {
		opacity: 0;
		transform: scale(0.5);
	}
	70% {
		opacity: 1;
		transform: scale(1.2);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

.win-modal--closing .win-modal__wrapper {
	animation: win-modal-close 600ms cubic-bezier(0.22, 0.9, 0.24, 1) both;
}

@keyframes win-modal-close {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	70% {
		opacity: 1;
		transform: scale(1.2);
	}
	100% {
		opacity: 0;
		transform: scale(0.5);
	}
}

.win-modal__title {
	margin: 0;

	font-size: 30px;
	font-weight: 900;
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
}

.win-modal__button {
	padding: 0;
	border: none;

	background-color: transparent;

	font-family: inherit;
	font-weight: inherit;
	text-transform: uppercase;
	text-decoration: underline;
	font-size: 18px;
	font-weight: 900;
	color: #ffffff;
	cursor: pointer;

	outline: none;
}
